{#
.. jinja:template:: stream.sh

    Template for configuration of ffmpeg 

    :param device: Video device to use (default: /dev/video0)
    :param device_framerate: Video device framerate (default: not set)
    :param audio_device: Alsa device to use (default: hw:0,0,0)
    :param width: Video width (default: 640)
    :param height: Video height (default: 480)
    :param qmin: Minimal video quality (default: 20)
    :param qmax: Max video quality (default: 52)
    :param minrate: Minimal bitrate (default: 500k)
    :param maxrate: Maximal bitrate (default: 1000k)
    :param bitrate: Bitrate (default:500k)
    :param gop: Group of frames (default: 40)
    :param use_mjpeg: Should mjpeg be used as device capture codec (default: False)
    :param offset: Offset betwene video and audio (default: 00:00:00)
#}
{% set device=device or "/dev/video0" %}
{% set device_framerate=device_framerate %}
{% set audio_device=audio_device or "hw:0,0,0" %}
{% set width=width or "640" %}{% set height=height or "480" %}
{% set qmin=qmin or "20" %}{% set qmax=qmax or "52" %}
{% set minrate=minrate or "500k" %}{% set maxrate=maxrate or "1000k" %}
{% set bitrate=bitrate or "500k" %}
{% set gop=gop or "40" %}
{% set offset=offset or "00:00:00" %}
{% set sp=" "%}
-y 
-f video4linux2 -s {{width}}x{{height}} 
    {%- if use_mjpeg -%}{{sp}}-vcodec mjpeg{% endif %}
    {%- if device_framerate -%}{{sp}}-r {{device_framerate}}{% endif %} -i {{device}}
-f alsa -itsoffset {{offset}} -i {{audio_device}} -ac 1 -g {{gop}}
-vf hqdn3d -vcodec libvpx -qmin {{qmin}} -qmax {{qmax}}
-minrate {{minrate}} -vb {{bitrate}} -maxrate {{maxrate}} -bufsize 1000k
-threads 3 -acodec libvorbis -ab 96k -f webm
