{#
.. jinja:template:: stream-m.conf

    Template for configuration of stream-m

    :param port: Server port (default: 65324)
    :param streams: List of all streams
    :type streams: dict
#}
server.port = {{port}}

{% for stream in streams|split %}
streams.{{parts[stream].name}} = true
streams.{{parts[stream].name}}.password = {{parts[stream].password}}
streams.{{parts[stream].name}}.limit = 100
{% endfor %}
